<div class="scrollable">

    <div class="scrollable-content section">
        <div ng-include="'alerts.html'"></div>
        <div class="list-group text-center">
            <div>
                <div>
                    <h3 class="home-heading">Report a Voice Incident</h3>
                    click the button to start recording
                </div>
                <br>

                <div>
                    <a ng-click="!isDisabled && controlVoiceRecording()">
                        <i ng-if="!isRecording" class="fa fa-microphone feature-icon text-primary"></i>
                        <i ng-if="isRecording" class="fa fa-stop feature-icon text-primary"></i>
                    </a>
                </div>
                <br><br>

                <div ng-if="stopRecording" class="btn-group justified nav-tabs">
                    <a ng-click="submit()" class="btn btn-primary">Submit</a>
                    <a ng-click="cancel()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>